This file shows how to use a map field values

Managers using an explicit reference

Infrastructure: {{.Params.projectManagers.infrastructure}}
Platform:      {{.Params.projectManagers.platform}}
Tooling:       {{.Params.projectManagers.tooling}}


Managers using  a range

{{range $key, $element := .Params.projectManagers}}
{{ $key }}:  {{ $element -}}
{{ end }}
